ul {
    display: table; 
    margin: 0 auto;
    text-align: center;
    color: green;
    list-style-type:georgian;

}

.title{

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: darkgreen;
    font-size: xx-large;
    
}

.old_note{
    max-width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    color: rgb(108, 53, 14);
    background-clip:border-box ;
    font-family:'Courier New', Courier, monospace;
}

.text{

    text-align: left;
}

.button{
    display:block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: darkgreen;
    background-color: rgb(46, 170, 46);
    background-clip: content-box;
    border: 2px solid;
    border-color: darkgreen;
}



.smllogo{
    
    height: 15px; width: 30px;
}

html {

    background-color: antiquewhite;
}
table{
    border-collapse: collapse;
    display:block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(104, 187, 104);


}
td{
    text-align: center;
    vertical-align: middle;
    border: 3px solid green;
    width: 20px;
    height: 10px;
    
}




.button:hover{

    color: green;
    background-color: darkgreen;
    border-color: green;
}

.old_note:hover{

    max-width: 47%;
}

.mino{
    color: brown;
    text-decoration-line: none;
}


.mino:hover{
    text-decoration-line:line-through;
}