ul {
    display: table; 
    margin: 0 auto;
    text-align: center;
    color: green;
    list-style-type:georgian;

}

.title{

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: darkgreen;
    font-size: xx-large;
    
}

.old_note{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    color: rgb(108, 53, 14);
    background-clip:border-box ;
}

.centro{

    display:block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.button{
    position: absolute; right: 5%; bottom: 5%; 
    color: darkgreen;
    background-color: rgb(46, 170, 46);
    background-clip: content-box;
}

.button-up{
    position: absolute; right: 5%; top: 5%; 
    color: darkgreen;
    background-color: rgb(46, 170, 46);
    background-clip: content-box;
    
}


.smllogo{
    
    height: 15px; width: 30px;
}

html {

    background-color: antiquewhite;
}